# Ignore everything
/*

# Except these files & folders
!/.github
!/src
!index.html
!package.json
!vite.config.ts
!tailwind.config.js
!postcss.config.js
!eslint.config.js
!knip.config.ts
!tsconfig.json
!tsconfig.node.json
!README.md

# Ignore auto generated routeTree.gen.ts
/src/routeTree.gen.ts